<mat-toolbar fxLayout="row" fxLayoutAlign="start stretch">
    <mat-toolbar-row>
        <div class="logo" style="width:15rem;height: 100%;"></div>
        <div class="nav-content" style="max-width: calc(100%-15rem);height: 100%;" fxFlex="auto" fxLayout="row"
            fxLayoutAlign="flex-end center">
            <div fxFlex="auto" fxLayout="row" fxLayoutAlign="flex-end center" class="search-box">
                <input type="text" name="" id="">
                <mat-icon>search</mat-icon>
            </div>
            <img src="/assets/avatar.png" alt="avatar" class="avatar">
        </div>
    </mat-toolbar-row>
</mat-toolbar>