@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #f0f4f8,
    100 : #d9e2ec,
    200 : #bcccdc,
    300 : #9fb3c8,
    400 : #829ab1,
    500 : #627d98,
    600 : #486581,
    700 : #334e68,
    800 : #243b53,
    900 : #102a43,
    A100 : #ecf5ff,
    A200 : #b9dbff,
    A400 : #86c0ff,
    A700 : #6db3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-primary: (
    50 : #dceefb,
    100 : #b6e0fe,
    200 : #84c5f4,
    300 : #62b0e8,
    400 : #4098d7,
    500 : #2680c2,
    600 : #186faf,
    700 : #0f609b,
    800 : #0a558c,
    900 : #003e6b,
    A100 : #f4f9ff,
    A200 : #c1ddff,
    A400 : #8ec1ff,
    A700 : #74b3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-optum: (
    50 : #fef0e5,
    100 : #fcd9bf,
    200 : #fabf94,
    300 : #f8a569,
    400 : #f79249,
    500 : #f57f29,
    600 : #f47724,
    700 : #f26c1f,
    800 : #f06219,
    900 : #ee4f0f,
    A100 : #ffffff,
    A200 : #ffece6,
    A400 : #ffc6b3,
    A700 : #ffb39a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$doc-creator-primary: mat-palette($md-primary);
$doc-creator-accent: mat-palette($md-accent);
$doc-creator-warn: mat-palette($md-optum);

$doc-creator-theme: mat-light-theme($doc-creator-primary, $doc-creator-accent, $doc-creator-warn);

@include angular-material-theme($doc-creator-theme);

@import './component-themes.scss';

@include app-comp-themes($doc-creator-theme);